html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* Ensure scrolling on the entire body */
}


.mainContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;
    padding-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: 10% !important; */


}

.video iframe {
    height: 200px;
    width: 625px;
    border-radius: 5%;

}

.bgh {
    display: flex;
    justify-content: space-around;
}

.bgh img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}



.maoooo {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    height: 82vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 300px;


}

.contenrrrr {
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    padding-top: 7px;


}

.contenrrrr h4 {
    font-family: Arial, Helvetica, sans-serif;

    font-weight: 200;
}

.contenrrrr h5 {
    width: 80%;
    color: #606060;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 100;
}

.contenrrrr p {
    color: #606060;
    font-family: "Roboto", "Arial", sans-serif;

    width: 50%;
    font-weight: 100;
}

@media only screen and (max-width:1000px) {
    .maoooo {
        display: flex;

        width: 100%;
    }

    .content {
        width: 28% !important;
    }
}



@media only screen and (max-width:500px) {

    .maoooo {
        flex-direction: column;
    }

    .mainContent {

        flex-direction: row;
        display: flex;
        height: auto;
        padding-left: 0% !important;
    }

    /* Video takes full width for smaller screens */
    .video iframe {
        width: 419px;
        /* Full width for small screens */
        height: 300px;

    }

    .content {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30%;
        padding-right: 0px;
        padding-left: 1px;

    }
}

@media only screen and (max-width: 400px) {
    .maoooo {
        flex-direction: column;
    }

    .mainContent {
        flex-direction: column;

    }

    /* Video takes full screen */
    .video iframe {
        width: 100%;
        /* Video takes full width */
        height: 300px;
        /* Adjust the height to match aspect ratio */
    }

    /* Stack content in a column layout */
    .content {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* Ensure content takes full width */

        /* Add spacing between content items */
    }

    .contenrrrr {
        padding-right: 0;
        width: 100%;
        /* Adjust content to full width */
    }

    .contenrrrr h5,
    .contenrrrr p {
        width: 100%;
        /* Make text full width */
    }
}